<div class="md:p-20 p-12 pt-12">
  <h1 class="text-4xl font-semibold mb-12">Find your favorite plants!</h1>
  {{#each swaps as |swap| }}
  <div class="row mb-4 border-b-2 border-neutral-400 pb-6">
    <div class="col-md-5">
      <h2>
        <a class="text-xl font-semibold block mb-2" href="/swap/{{swap.id}}">{{swap.title}}</a>
      </h2>
      <p class="mb-3">
        {{swap.description}}  
      </p>
    </div>
    <div class="col-md-7">
      {{#if_equals swap.type "Swap"}}
      <span class="text-xs block rounded-full bg-emerald-100 py-1 px-3 w-min ">
        {{swap.type}}
      </span>
      {{/if_equals}}
      {{#if_equals swap.type "Wanted"}}
      <span class="text-xs block rounded-full bg-blue-100 py-1 px-3 w-min ">
        {{swap.type}}
      </span>
      {{/if_equals}}
      {{#if_equals swap.type "Free"}}
      <span class="text-xs block rounded-full bg-orange-100 py-1 px-3 w-min ">
        {{swap.type}}
      </span>
      {{/if_equals}}
    </div>
  </div>
  {{/each}}
</div>

